main {
    margin: 20px;
    width: 75%;
}

#results {
    margin-top: 20px;
}

.button {
    margin-top: 5px;
}

.itemTitle {
    color: blue;
    background: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    font-size: 18px;
}

.itemBody {
    color: gray;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 30px;
    padding-top: 0;
}